.main-chat
  .main-chat__group
    .main-group__header
      %h1.main-group-title
        #{@group.name}
      %ul.main-group-title-member-box
        %li.main-group-title-member-name
          Member :
          - @group.users.each do |user|
            %span.main-group-title-member-box #{user.name}
    .main-group-edit
      = link_to edit_group_path(@group.id) do
        Edit
  .main-message
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-message
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'